<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python - Forum_L</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo" class="logo" style="color: black;">📖 Forum_Log</div>
        <nav>
            <button onclick="window.location.href='index.html';">На головну</button>
        </nav>
    </header>
    <main>
        <h1 style="color: black;">Python</h1>
        <p style="color: black;">Python - це високорівнева мова програмування, відома своєю простотою і читабельністю. Тут ви знайдете основи, приклади коду та корисні матеріали.</p>
        <h2 style="color: black;">Приклад коду:</h2>
        <pre><code style="color: black;"># Привіт, Python!
Базовые команды Python
pip

Менеджер пакетов Python. Используется для установки программных пакетов из онлайн-репозитория
общедоступных пакетов или Python Package Index (PyPI):

pip install package-name .

display:

Команда для вывода сообщений на экран или другое стандартное устройство вывода.
 Можно использовать для вывода различных типов объектов, таких как целые числа, строки, списки, кортежи и прочее:

display(object).

class:

Команда для создания классов. Классы могут содержать переменные с модификаторами доступа,
функции с возвращаемыми типами и даже другие вложенные классы. Синтаксис команды class выглядит следующим образом:

class ClassName,

class_body_code.

type:

Команда для проверки типа или класса объекта:

type(object).

range:

Команда для генерации последовательности целых чисел, начиная с 0 по умолчанию и заканчивая n,
где n не включено в сгенерированные числа. Часто используется в циклах for:

range(start, stop, step).

round:

Команда для округления числа до заданной точности в десятичных разрядах.
Позволяет уменьшить количество цифр после запятой в числе с плавающей точкой до указанного значения:

round(number, digits).

input:

Команда для получения ввода от пользователя. Исполнение программы будет приостановлено до тех пор,
пока пользователь не введет какое-либо значение, которое будет преобразовано функцией input() в строку. 
Если входные данные должны быть целым числом, их нужно преобразовать явно:

input(prompt).
</code></pre>
        <h2 style="color: black;">Корисні посилання:</h2>
        <ul>
            <li><a href="https://docs.python.org/">Офіційна документація Python</a></li>
            <li><a href="https://www.w3schools.com/python/">W3Schools Python Tutorial</a></li>
        </ul>
    </main>
</body>
</html>
